.item-results-wrapper {
    position: absolute;
    top: 55px;
    left: 50px;
    background-color: #363f51;
    width: 500px;
    border-bottom: 5px solid #191d23;
    border-top: 5px solid #191d23;
    border-left: 2px solid #191d23;
    border-right: 2px solid #191d23;
    max-height: 50vh;
    overflow-y: scroll;
}
.item-results-wrapper .results-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #111111;
    vertical-align: middle;
    padding: 6px;
}
.item-results-wrapper .results-item-rarity {
    width: 5px;
    height: 100%;
}
.item-results-wrapper .results-item-name {
    flex-grow: 1;
}
.item-results-wrapper .results-item-type {
    max-width: 135px;
    text-overflow: ellipsis;
    overflow: hidden;
}

item-results-wrapper .results-item:hover {
    background-color: #23212b;
    cursor: pointer;
}