@page "/"
@using SSMB.Blazor.Shared.RecentItems;

<div style="display: grid; grid-auto-columns: 3fr 15px 1fr">
    <div style="grid-column:1">
        <RecentItems />
    </div>
    <div style="grid-column:3">

    </div>
</div>
