@page "/Item"
@using SSMB.Blazor.Shared.ItemPage.LatestHistory

<div style="display: grid; grid-auto-columns: 1fr 1fr">
    <div style="grid-column:1">
        Hello
    </div>
    <div style="grid-column:3">
        World
    </div>
</div>