@page "/Scrapable"
@using SSMB.Application.Items.Models
@inject IScrapShopViewModel ViewModel

<div>
    <div style="margin-top:20px">
        <textarea rows="50" style="width:100%" bind="@ViewModel.BaseText"></textarea>
    </div>
</div>

@functions {
    protected override void OnInitialized()
    {
        this.ViewModel.WhenScrapShopComplete.Subscribe(_ => InvokeAsync(StateHasChanged));
    }
}