@using SSMB.Blazor.Shared.ItemsResults
@inject IItemsResultsViewModel ViewModel

@if (ViewModel.IsVisible && ViewModel.Results != null)
{
    <div @onclick="@ViewModel.OnWrapperClick" class="item-results-wrapper">
        @foreach (var item in ViewModel.Results)
        {
            <div class="results-item" @onclick="@(() => ViewModel.OnItemClicked(item.ItemId))">
                <div class="results-item-rarity"></div>
                <div class="results-item-name">
                    @item.Name
                </div>
                <div class="results-item-type">
                    @item.Type
                </div>
            </div>
        }
    </div>
}

@functions {

    protected override Task OnInitializedAsync()
    {
        ViewModel.WhenVisibilityChanged
                 .Subscribe(_ => { InvokeAsync(StateHasChanged); });
        ViewModel.WhenResultsChanged
                 .Subscribe(_ => { InvokeAsync(StateHasChanged); });

        return Task.CompletedTask;
    }

}