@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
@inject IMainLayoutViewModel ViewModel
@using SSMB.Blazor.Shared.ItemsSearch;

<div class="app-wrapper" @onclick="@ViewModel.OnRootClicked">
    <div class="navbar-dark">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
